html {
  background: url("https://wallpaperaccess.com/full/858411.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: lightgoldenrodyellow;
}
form {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

button {
  background-color: lightgoldenrodyellow;
  border: none;
  border-radius: 4px;
  margin: 10px;
}

button:hover {
  background-color: yellow;
}

input {
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  width: 120px;
  margin: 10px;
}